# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Environment files - keep these private!
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Keep example env file for reference
!.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.pem
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
